@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;400;500;600&family=Nunito:ital,wght@0,300;0,400;0,500;0,600;1,400;1,500&display=swap");
// @import "variables";
// @import "mixins";

// @import "dot-pulse";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
}
@layer utilities {
  .full-size {
    @apply h-full w-full;
  }
  .trans-300 {
    @apply transition-all duration-300;
  }
  .bg-accent {
    background-color: #2c2c2c;
  }
}
@layer components {
  .button_t1 {
    @apply p-2 cursor-pointer text-white bg-slate-400 rounded-md dark:bg-slate-500;
  }
}

:root {
  --reading-sidebar-width: 312px;
  --header-height: 64px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  //   font-size: 62.5%;
  -webkit-tap-highlight-color: transparent;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

body {
  //   font-size: 1.6rem;
  text-rendering: optimizeSpeed;
  height: fit-content;
  overflow-x: hidden;
  transition-duration: 350ms;
}

*:focus {
  outline: none;
}
