@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components{
    .button_t1{
        @apply p-2 cursor-pointer text-white bg-slate-400 rounded-md dark:bg-slate-500
    }
}
@layer utilities{
    .full-size {
        @apply h-full w-full;
    }
}
body{
    /* @apply scrollbar-hide */
}
/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    /* position: absolute; */
    /* right: 0; */
    width: 10px;
  }
  
  *::-webkit-scrollbar-track {
    @apply bg-slate-400

  }
  
  *::-webkit-scrollbar-thumb {
    background-color: rgb(108, 104, 104);
    border-radius: 14px;
  }